
*.xml
.idea/.idea.FriendlyRemoteClientWinForms/.idea/.name
FriendlyRemoteClientWinForms/bin/Debug/FriendlyRemoteClientWinForms.exe
FriendlyRemoteClientWinForms/bin/Debug/FriendlyRemoteClientWinForms.exe.config
FriendlyRemoteClientWinForms/bin/Debug/FriendlyRemoteClientWinForms.pdb
FriendlyRemoteClientWinForms/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.csproj.AssemblyReference.cache
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.csproj.CoreCompileInputs.cache
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.csproj.FileListAbsolute.txt
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.csproj.GenerateResource.cache
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.csproj.SuggestedBindingRedirects.cache
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.exe
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.Form1.resources
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.pdb
FriendlyRemoteClientWinForms/obj/Debug/FriendlyRemoteClientWinForms.Properties.Resources.resources
FriendlyRemoteClientWinForms/obj/Debug/OldShit.csproj.AssemblyReference.cache
FriendlyRemoteClientWinForms/obj/Debug/OldShit.csproj.CoreCompileInputs.cache
FriendlyRemoteClientWinForms/obj/Debug/OldShit.csproj.FileListAbsolute.txt
FriendlyRemoteClientWinForms/obj/Debug/OldShit.csproj.GenerateResource.cache
FriendlyRemoteClientWinForms/obj/Debug/OldShit.csproj.SuggestedBindingRedirects.cache
FriendlyRemoteClientWinForms/obj/Debug/OldShit.Desktop.resources
FriendlyRemoteClientWinForms/obj/Debug/OldShit.exe
FriendlyRemoteClientWinForms/obj/Debug/OldShit.pdb
FriendlyRemoteClientWinForms/obj/Debug/OldShit.Properties.Resources.resources
FriendlyRemoteClientWinForms.sln.DotSettings.user
